---
layout: default
---

<div class="posts">
  {% for post in paginator.posts %}
    <article class="post">
    
      {% capture url_to_use %}{{ post.url" }}{% endcapture %}
      {% if post.redirect_url %}
        {% capture url_to_use %}{{ post.redirect_url" }}{% endcapture %}
      {% endif %}
      
      <h2><a href="{{ site.baseurl }}{{ url_to_use }}">{{ post.title }}</a></h2>
      <div class="date">
	      <a href="{{ site.baseurl }}/Bio{{ post.author | remove: " " }}">{{ post.author }}</a>
	      on {{ post.date | date: "%B %e, %Y" }}
      </div>
      {% if post.tags.size > 0 %}
	<div class="date">
		Tag{% if post.tags.size > 1 %}s{% endif %}:{% for tag in post.tags %}
	      <a href="{{ site.baseurl }}/tag#{{ tag | downcase }}">{{ tag }}</a>
	    {% endfor %}
	</div>
	<!--div class="date">Tag(s): {{post.tags | remove: '"' | join: ', ' | remove: '[' | remove: ']' | capitalize}}</div-->
      {% endif %}
      <div class="entry">
         {{ post.excerpt | add: '...'}}<!-- span style="display: inline">…</span-->
      </div>
      <a href="{{ site.baseurl }}{{ url_to_use }}" class="read-more">Read More</a>
     </article>
  {% endfor %}  
</div>

<!-- Pagination links -->
<br/>
<div class="pagination" style="text-align: center;">
  <div style="color:#eee;padding-bottom: .6em;">~</div>
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">⇦</a>
  {% else %}
    <span class="previous" style="color:#eee">⇦</span>
  {% endif %}
  <span class="page_number ">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">⇨</a>
  {% else %}
    <span class="next" style="color:#eee">⇨</span>
  {% endif %}
</div>
