---
layout: default
title: tag
permalink: /tag
---

{% for tag in site.tags %}
  <h3 id="#{{ tag[0] }}">{{ tag[0] }}</h3>
  <ul>
    {% for post in tag[1] %}
	{% capture url_to_use %}{{ post.url" }}{% endcapture %}
	{% if post.redirect_url %}
        	{% capture url_to_use %}{{ post.redirect_url" }}{% endcapture %}
	{% endif %}
	<li><a href="{{ site.baseurl }} {{ url_to_use }}">{{ post.title }}
	    <div class="date">{{ post.author }} on {{ post.date | date: "%B %e, %Y" }}</div></a>
	</li>
    {% endfor %}
  </ul>
{% endfor %}
